# This is a basic workflow to help you get started with Actions

name: GitHub Action Based Mule Deployment

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  packageAndDeployToDev:
    name: Create Application Jar and Deploy to Development Environment 
  # This workflow contains a single job called "build"
  #build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      CLOUDHUB_USERNAME= ${{secrets.CLOUDHUB_USERNAME}}
      CLOUDHUB_PASSWORD= ${{secrets.CLOUDHUB_PASSWORD}}
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with: 
          java-version: 1.8
#        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Maven Package
        run: mvn -B -U -e -V clean -DskipTests package
        #- name: Maven MUnit
      #  run: mvn -X clean test
      - name: Maven Deploy
        run: mvn -U -V -e -B -DskipTests deploy -DmuleDeploy -Dmule.version="4.3.0" -Danypoint.username="CLOUDHUB_USERNAME" -Danypoint.password="CLOUDHUB_PASSWORD" -Denv="dev" -Dcloudhub.app="github-actions" -Dcloudhub.environment="Sandbox" -Dcloudhub.bg="github-actions-logs" -Dcloudhub.worker="Micro"
      #- name: Send email post job completion
      #  uses: dawidd6/action-send-mail@v2
      #  with:
      #    server_address: email-smtp.us-west-2.amazonaws.com
      #    server_port: 587
      #    username: username
      #    password: password
      #    subject: Workflow finished for ${{ github.event.repository.name }}
      #    from: User Account Name
      #    to: shivraj.jawalge@apisero.com
      #    body: Job completed ${{job.status}}
          # Optional HTML body read from file:
          #html_body: file://README.html
          # Optional carbon copy recipients:
          #cc: kyloren@example.com,leia@example.com
          # Optional attachments:
          #attachments: attachments.zip,git.diff,./dist/static/main.js
